<div class="container">
    <div class="row">
        <div class="col-5">
            <img [src]='PhotoFilePath' height="300px" width="250px"  alt="ProfilePic">
            <input type="file" class="mt-2" (change)="uploadPhoto($event)">
        </div>
        <div class="col-7">
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-4 form-label py-2">Employee Name</label>
                    <div class="col-sm-8 my-1">
                        <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="Enter Employee Name">
                    </div>
                    <label class="col-sm-4 form-label py-2">Department</label>
                    <div class="col-sm-8 my-1">
                        <select class="form-control" [(ngModel)]="Department">
                            <option>--Select--</option>
                            <option *ngFor="let depName of DepartmentsList">
                                {{depName.DepartmentName}}
                            </option>
                        </select>
                        <!-- <input type="text" class="form-control" [(ngModel)]="Department" placeholder="Enter Department"> -->
                    </div>
                    <label class="col-sm-4 form-label py-2">Date Of Joining</label>
                    <div class="col-sm-8 my-1">
                        <input type="date" class="form-control" [(ngModel)]="DateOfJoining" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary my-4">Add</button>
<button (click)="updateEmployee()" *ngIf="emp.EmployeeId!==0" class="btn btn-primary my-4">Update</button>
